
<div id="sidebar-wrapper">
<aside class="sidebar-left-collapse sidebar-wrapper">
	<p class="head"><a href="{{ site.baseurl }}">Shutter Story</a></p>
    <div class="sidebar-links">

        <div class="link-blue">
            <a>
                <i class="fa fa-picture-o"></i>Photography
            </a>
            <ul class="sub-links">
                {% for cat in site.data.photography %}
                <li><a id="{{ cat.name }}" class="cat-link" href="portfolio#{{ cat.name }}" data-id="{{ cat.key }}">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="link-green">
            <a>
                <i class="fa fa-map-marker"></i>Other Places
            </a>
            <ul class="sub-links">
                {% for link in site.data.links %}
                <li><a href="{{ link.url }}"><i class="fa {{ link.favicon }}"></i> {{ link.name }}</a></li>
                {% endfor %}

            </ul>
        </div>
    </div>
</aside>
</div>